@import "../../styles/common.scss";

.backgroundWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/leaf43.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.imageWrap{
  position: relative;
}

.imagePreview{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 90%;
  width: auto;
  display: none;
}

.inviteForm {
  background-color: transparent; 
  padding: 40px;
  border-radius: 12px;
  box-shadow: none;
  border: none;

.title {
  font-size: 24px;
  color: #3b5a32; 
  margin-bottom: 20px;
  text-align: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  @include common-error;
  margin-bottom: 20px;
  color: #ff0000; 
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  input {
    color: #757575;
    margin-bottom: 15px;
    border: none; 
    border-bottom: none;
    width: 100%;
    max-width: 300px;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    background-color: transparent; 
  }
}

.imagePreview {
  display: none;
  width: 320px;
  margin-top: 15px;
}

.cursor {
  cursor: pointer;
  text-align: center;
}

.imagePreview {
  margin-top: 15px;
  max-width: 100%;
  border-radius: 5px;
  display: none;
}
}