@import "../../styles/common.scss";

.svg {
  width: 32px;
  height: 32px;
}

.contentWrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

.invitationDeyail{
  position: absolute;
  top: 15%;
  left: 20%;
  p{
    padding: 16px 0;
    font-family: 'TsukuARdGothic-Regular', sans-serif;
    font-size: 18px;
    font-weight: bold;

  }
}

.none{
  display: none;
}

/*Checkboxes styles*/
.checkBox{ transform: scale(1.5, 1.5);}

.checkBox + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.checkBox + label:last-child { margin-bottom: 0; }

.checkBox + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checkBox:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tweetContentWrapper {
  display: flex;
  padding-top: 5px;
  margin-bottom: 25px;
  position: relative;

  // 擬似クラス作成
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background-color: #E0E0E0;
  }
}

.tweet {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  }

.tweetUser {
  max-width: 560px;
  span {
    &:first-child {
      color: #757575;
      font-weight: bold;
    }
    &:nth-child(2) {
      color: #757575;
      font-size: 10px;
      margin-left: 4px;
    }
  }
}

.tweetText {
  display: inline-block;
  max-width: 560px;
  font-size: 15px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color: #757575;
}

.btnWrapper {
  position: fixed;
  max-width: 600px;
  width: 100%;
  right: calc(50% - 300px - 50px);
  bottom: 100px;
  display: flex;
  justify-content: flex-end;

  button {
    width: 70px;
    height: 70px;
    background: #1D9BF0;
    color: #FFF;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
  }
}

.button:focus {
  outline: none; // フォーカス時のアウトラインを削除
}

.card{
  max-width: 520px;
  padding: 6px;
  border: 1px solid #333;
  margin-bottom: 10px;
  position: relative;
  img{
    width: 100%;
  }
}

.imagePreview{
  display: none;
  width: 320px;
}

.cancelBtn{
  border: 1px solid #333;
  padding: 4px;
  background-color: #1D9BF0;
  color: #FFF;
}