@import "../../styles/common.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-image: url('/Template1.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  border-bottom: 4px solid #3b5a32; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
  margin-bottom: 4px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.iconLogo {
  font-size: 1.8rem;
  color: #3b5a32;
}

.logoImage {
  max-height: 40px;
  width: auto;
  object-fit: contain;
}

.navLinks {
  display: flex;
  gap: 15px;
}

.navLinks button {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  transition: color 0.3s ease;
  padding: 8px 12px;
}

.navLinks button:focus,
.navLinks button:hover {
  color: #333;
}

.navLinks button:not(.btnLogOut):focus:after,
.navLinks button:not(.btnLogOut):hover:after {
  width: 100%;
  left: 0%;
}

.navLinks button:not(.btnLogOut):after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #3b5a32;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.icon {
  font-size: 1.1rem;
  color: #3b5a32;
}

.title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.btnLogOut {
  background-color: rgba(152, 191, 100, 0.8);
  border: none;
  padding: 8px 16px;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnLogOut:hover {
  background-color: rgba(200, 200, 200, 0.8);
  color: #4b4a4a; 
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #3b5a32;
  cursor: pointer;
  z-index: 101; 
}

.closeButton {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #3b5a32;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 102;
}


@media (max-width: 768px) {
  .closeButton {
    padding: 0 !important;
    align-items:flex-end !important; 
    justify-content: flex-end !important;
    display: flex !important;
    font-size: 1.5rem !important;
    color: #3b5a32 !important;
    background: none !important;
    border: none !important;
    cursor: pointer !important;
    z-index: 102 !important;
  }

  .header {
    background-image: url('/image.png'); 
    background-color: #f2ecdb; 
    margin-bottom: 0; 
    padding-bottom: 12px; 
    padding-right: 0;
    height: 60px;
  }

  .hamburger {
    display: block;
    order: -1;
  }

  .hideOnSmall {
    display: none !important;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100vh;
    background-image: url('/Template1.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 99;
    border-right: 2px solid #3b5a32;
    border-bottom: 2px solid #3b5a32;
    border-left: none;
    border-top: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: none;
  }

  .navLinksOpen {
    left: 0;
    transition: left 0.3s ease-in-out;
  }

  .navLinksClosing {
    left: -100%;
  }

  .navLinks button, .navLinksOpen button {
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    width: 100%;
    justify-content: flex-start;
  }

  .navLinks .icon, .navLinksOpen .icon {
    margin-right: 10px;
  }

  .title {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  } 

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
  }

  .btnLogOut {
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .navLinks button:after, .navLinksOpen button:after {
    display: none;
  }
}

@media (min-width: 769px) {
  .navLinks {
    display: flex;
  }
}