.contentWrapper {
    background-image: url('/leaf32.png');
    background-size: 1200px 1200px;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    padding-top: 130px;
  }
  
  .imageWrap{
    position: relative;
    overflow: hidden;
  }
  
  .imagePreview{
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%);
    top: 0;
    width: 100%;
    display: none;
  }