@import "../../styles/common.scss";


.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px; 
  gap: 20px; 
  background-image: url('/leaf53.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.mailForm{
  position: absolute;
  right: 0;
  top: 77px;
}


.invitationsContainer {
  display: flex;
  // grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.invitationId{
  cursor: pointer;
}

.check{
  display: none;
  width: 160px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.selected {
  display: block;
}



.card {
  position: relative;
  width: 160px;
  height: fit-content;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f2ecdb; 
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}


.profilePicWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.profilePic {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.infoWrapper {
  // width: 100%;
  text-align: center;

  p {
    margin: 4px 0;
    color: #333;
    font-size: 14px;
  }

  strong {
    color: #555;
  }
}
