@import "../../styles/common.scss";

.backgroundWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/leaf43.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.loginForm {
  background-color: transparent; 
  padding: 40px;
  border-radius: 12px;
  box-shadow: none;
  border: none;
}

.error {
  @include common-error;
  margin-bottom: 20px;
  color: #ff0000; 
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    color: #757575;
    margin-bottom: 15px;
    border: none;
    border-bottom: 0.5px solid #c0c0c0;
    width: 100%;
  }
}

.submitBtn {
  margin-top: 15px;
  width: 100%;
  @include button-main;
}

.imagePreview {
  display: block;
  width: 100%;
  height: auto;
}

.card {
  border: 1px solid #333;
  img {
    width: 100%;
    height: auto;
  }
}
